
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');

body {
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.0625em;
}

.App {
  padding: 0 6em;
}

.App-header {
  padding: 6em 0;
  display: flex;
}
.App-logo {
  height: 2em;
}
.App-nav {
  margin-left: auto;
  color: #d4d4d4;
}

.App-title {
  font-size: 2.1em;
  padding: 4em 0 0.8em 0;
  font-weight: 600;
}

.App-intro {
  max-width: 45em;
  color: #d4d4d4;
  font-size: 1em;
  padding: 0 0 3em 0;
  font-weight: 300;
  line-height: 1.8;
}
.App-button {
  background-color: #FFFFFF;
  color: black;
  font-weight: 600;
  padding: 1em 3em;
  box-shadow: 0.2em 0.2em 1.5em #4A90E2;
  transition: box-shadow 0.2s ease-out;
}
.App-button:hover {
  transition: box-shadow 0.2s ease-in;
  text-decoration: none;
  color: black;
  box-shadow: 0.4em 0.4em 1.5em #4A90E2;
}




/* ---- Start page styles */

.start-card {
    background-color: #fff;
    padding: 4em 5em;
    max-width: 450px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.card-title {
    color: #000;
    letter-spacing: normal;
    font-weight: 600 !important;
    margin-bottom: 0.3em;
}

.card-intro {
    color: #959595;
    font-weight: 300 !important;
    line-height: 1;
}

.num-participants {
    font-size: 3em;
    font-weight: 600 ;
    color: #000;
    margin: 1em 0;

}

.start-form {
    padding: 1em 0;
}
.start-form input {
    display: block;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 3em; */
    width: 80%;
}

.start-name {
}

.start-name[type=text] {
    border:none;
    padding-bottom: 5px;
    width: 80%;
    border-bottom: 1px solid #000;
    color: #000;
    letter-spacing: 0.5px;
}

.start-name[type=text]:focus,
.start-name[type=text]:active
{
    outline: none;
    /* border-color: red; */
}

.start-name[type=submit] {
    background: #fff;
    cursor:pointer;
}

.start-button {
  background-color: #d4d4d4;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1em 3em;
  border: none;
  margin-top: 3em !important;
  /* box-shadow: 0.2em 0.2em 1.5em #4A90E2; */
}
.start-button:hover {
  text-decoration: none;
  /* color: black; */
  /* box-shadow: 0.4em 0.4em 1.5em #4A90E2; */
  cursor: not-allowed;
}
